.room2Body {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: end;
  background-image: url(../../public/res/room1/room1_bg.png);
  background-size: 100% 100%;
  background-color: rbga(0, 0, 0, 0.5);
  overflow: hidden;
}
.room2Counter {
  position: relative;
  z-index: 5;
  margin-bottom: 10vh;
}
.room2Counter > img {
  width: 258px;
  height: 88px;
}
.room2Counter p {
  position: absolute;
  color: white;
  top: 3vh;
  left: 95px;
  font-size: 30px;
}
.room2 img:hover {
  cursor: pointer;
}
.room2 {
  position: relative;
}
.pot_iso {
  opacity: 0;
  width: 6.2vw;
  height: 7.8vh;
  position: absolute;
  top: -66vh;
  left: 8.8vw;
  z-index: 5;
}
.box_iso {
  opacity: 0;
  width: 5.5vw;
  height: 10vh;
  position: absolute;
  top: -43.6vh;
  left: 9.9vw;
  z-index: 5;
}
.clock_iso {
  opacity: 0;
  width: 10.7vw;
  height: 23.5vh;
  position: absolute;
  top: -75vh;
  left: -20.8vw;
  z-index: 5;
  /*  transform: rotate(10deg); /* 우측으로 30도 회전 */
}
.tea_iso {
  opacity: 0;
  width: 7.2vw;
  height: 10.5vh;
  position: absolute;
  top: -73vh;
  left: -4.8vw;
  z-index: 5;
}
.room2ResultButton {
  z-index: 5;
  margin-bottom: 10vh;
}
.resultButton {
  z-index: 6;
}
.unfinishedText {
  display: block;
  width: max-content;
  margin: 0 auto;
  color: white;
}
.shroud {
  opacity: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.largeImg {
  width: 20vw;
  /*HTML DOM 구조에 구애를 받지 않으며 화면 중간에 오게 만듦*/
  /*모든 물체들의 구조가 뒤틀리지 않을려면 img가 추가될때 HTML 구조에 영향을 주지 않도록 해야함*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
