*{
    margin:0px;
    border:0px;
}
.endPageBody{
    width: 100%;
    line-height:2.0;
}

.endPageHeader{
    width: 100%;
    height: 100%;
}
.endPageHeader>img{
    display: block;
    width: 100%;
    height: 100%;
}
.endPageMain{
    /*background-image: url(../../public/res/endPageRes/final_bg_1.png);*/
    background-position: 0px -10.5vw;
    /*background-repeat: repeat-y;*/
    background-size: 100% auto;
    padding-top:150px;
}
.animalLine{
    width:90%;
    margin: 0 auto;
    margin-bottom: 200px;
    display:flex;
    justify-content: center;
    white-space: pre-lines;
}
.animal{
    margin-top: 30px;
    position:relative;
    width: 30vw;
    height: 30vw;
}
.animalDescription{
    width: 50%;
    position:relative;
}
.animalP{
    color:white;
    width:70%;
}
.aniIntro{
    
    font-size: 28px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0px;
    /*margin: 0px 0px;*/
}
.aniName{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}
.aniExp{
    white-space: pre-wraps;
    font-size: 15px;
    margin-bottom: 50px;
}
.moreInfo{
    width:100%;
}
.endButton{
    width:30%;
    margin-right: 10%;
}
.moreInfo svg:hover{
    cursor:pointer;
}
.moreInfo svg:hover .whiteLine{
    fill: yellow;
}
.resultLine{
    width:90%;
    margin: 0 auto;
    margin-bottom: 200px;
    display:flex;
    align-items: flex-start;
    justify-content: center;
}

.compatibilityLine{
    width:90%;
    margin: 0 auto;
    /*margin-bottom: 200px;*/
    display:flex;
    align-items: flex-start;
    justify-content: center;
}

.logoLine{
    height: 358px;
}
.logoImage{
    
    margin-top: 180px;
    margin-left : 570px;
    position:relative;
    width: 22vw;
}

.endPageFooter{
    width: 100%;
    height: auto;
}
.endPageFooter>img{
    width: 100%;
    height: auto;
    display: block;
}